/**
Firefox version 60+

Windows platform

**/

@import url("chrome://tabmixplus/skin/app_version/all/win/browser.css");
@import url("chrome://tabmixplus/skin/app_version/all/win/progress.css");
@import url("chrome://tabmixplus/skin/app_version/39.0/tabStyles.css");
@import url("chrome://tabmixplus/skin/app_version/39.0/win/tabStyles.css");
@import url("chrome://tabmixplus/skin/app_version/41.0/win/tabStyles.css");
