/**
    Firefox version 91+

    Windows platform

**/

@import url("chrome://tabmixplus/skin/app_version/all/win/browser.css");
@import url("chrome://tabmixplus/skin/app_version/all/win/progress.css");
@import url("chrome://tabmixplus/skin/app_version/78/tabStyles.css");
@import url("chrome://tabmixplus/skin/app_version/78/win/tabStyles.css");
