/**
    Firefox all versions

    Linux platform

**/

/* :::: tabbar on bottom :::: */
#TabsToolbar[tabbaronbottom] {
  background-image: none !important;
}

/***  Tabstrip close button Firefox 31+ ***/
#tabmix-tabs-closebutton:not(:hover) {
  background-image: -moz-image-rect(url("chrome://global/skin/icons/close.svg"), 0, 64, 16, 48);
}

#tabmix-tabs-closebutton:not(:hover):-moz-lwtheme-brighttext {
  background-image: -moz-image-rect(url("chrome://global/skin/icons/close.svg"), 0, 80, 16, 64);
}

#tabmix-tabs-closebutton:not(:hover):-moz-lwtheme-darktext {
  /*noinspection CssInvalidFunction*/
  background-image: -moz-image-rect(url("chrome://global/skin/icons/close.svg"), 0, 96, 16, 80);
}

/* set on linux we need to set vertical align even if the button is hidden*/
#tabbrowser-tabs[multibar] #tabbrowser-arrowscrollbox > toolbarbutton {
  vertical-align: bottom;
}

#tabbrowser-tabs:not([tabmix_australis])[classic][multibar] .tabbrowser-tab {
  height: 25px;
}
