/**
    Firefox version 3.6.*

    Mac platform

**/

@import url("chrome://tabmixplus/skin/app_version/3.5/general.css");
@import url("chrome://tabmixplus/skin/app_version/3.5/mac/browser.css");

@import url("chrome://tabmixplus/skin/app_version/3.6/general.css");

/*.tabbrowser-arrowscrollbox[Mac]:-moz-lwtheme-darktext > .scrollbutton-up,*/
.tabbrowser-arrowscrollbox:-moz-lwtheme-darktext > .scrollbutton-down {
  -moz-box-shadow: inset 0 1px 0 rgba(50,50,50,.5);
}

/*.tabbrowser-arrowscrollbox[Mac]:-moz-lwtheme-brighttext > .scrollbutton-up,*/
.tabbrowser-arrowscrollbox:-moz-lwtheme-brighttext > .scrollbutton-down {
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.6);
}

/*.tabbrowser-arrowscrollbox[Mac] > .scrollbutton-up,*/
.tabbrowser-arrowscrollbox > .scrollbutton-down {
  -moz-image-region: rect(0, 11px, 17px, 0);
  margin: 0;
  padding: 0 1px;
  border: none;
}

/*.tabbrowser-arrowscrollbox[Mac] > .scrollbutton-up:-moz-locale-dir(ltr),*/
.tabbrowser-arrowscrollbox > .scrollbutton-down:-moz-locale-dir(rtl) {
  border-right: 2px solid;
  -moz-border-right-colors: rgba(0,0,0,0.25) rgba(255,255,255,0.15);
  list-style-image: url("chrome://browser/skin/tabbrowser/tab-arrow-left.png");
}

/*.tabbrowser-arrowscrollbox[Mac] > .scrollbutton-up:-moz-locale-dir(rtl) ,*/
.tabbrowser-arrowscrollbox > .scrollbutton-down:-moz-locale-dir(ltr) {
  border-left: 2px solid;
  -moz-border-left-colors: rgba(0,0,0,0.25) rgba(255,255,255,0.15);
  list-style-image: url("chrome://browser/skin/tabbrowser/tab-arrow-right.png");
}

/*.tabbrowser-arrowscrollbox[Mac] > .scrollbutton-up:hover,*/
.tabbrowser-arrowscrollbox > .scrollbutton-down:hover {
  -moz-image-region: rect(0, 22px, 17px, 11px);
  background-color: rgba(0,0,0,0.10);
}

/*.tabbrowser-arrowscrollbox[Mac] > .scrollbutton-up:hover:active,*/
.tabbrowser-arrowscrollbox > .scrollbutton-down:hover:active {
  -moz-image-region: rect(0, 44px, 17px, 33px);
  background-color: rgba(0,0,0,0.20);
}

/*.tabbrowser-arrowscrollbox[Mac] > .scrollbutton-up[disabled="true"],*/
.tabbrowser-arrowscrollbox > .scrollbutton-down[disabled="true"] {
  -moz-image-region: rect(0, 33px, 17px, 22px) !important;
  background-color: transparent !important;
}