/* custom properties for autoReload.xhtml */

:root {
  --in-content-box-background: rgb(255, 255, 255);
  --in-content-box-border-color: rgb(169, 169, 169);
  --in-content-focus-outline-color: rgb(10, 132, 255);
  --in-content-button-background: rgba(207, 207, 216, 0.33);
  --in-content-button-background-hover: rgb(229, 241, 251);
  --in-content-button-background-active: rgb(204, 228, 247);
  --in-content-button-text-color-hover: rgb(0, 0, 0);

  --combined-element-border-radius: 0;
  --combined-element-outline: none;
}
