/* custom properties for autoReload.xhtml */

@import url("chrome://tabmixplus/skin/app_version/all/variable_migration.css");

:root {
  --tabmix-combined-element-border-radius: 0;
  --tabmix-combined-element-outline: none;
}
