/**
 *
 * Firefox 17.0 +
 *
 **/

/* for the case user drag background tab
   when selectTabOnMouseDown is false */
.tabbrowser-tabs[movingBackgroundTab] > .tabbrowser-tab[dragged] {
  position: relative;
  z-index: 3;
  pointer-events: none; /* avoid blocking dragover events on scroll buttons */
}

.tabbrowser-tabs[movingBackgroundTab] > .tabbrowser-tab[fadein]:not([dragged]) {
  transition: transform 200ms ease-out;
}
