/**
 * xml-stylesheet for tabmix.xul
 *
 * This file is for general use and intended for ALL Firefox version and Platform
 * if some rule become obsolete move it to the proper file
 *
 **/

label.text-link, label[onclick] {
  -moz-binding: url(chrome://tabmixplus/content/tab/text.xml#tmp-text-link);
}

/* some themes use old copy of tabmix_3.xml that's why we don't use .tabbrowser-arrowscrollbox > .scrollbutton-up */
.tabmix_scrollbuttons_box[_side=right][flowing=scrollbutton] {
  -moz-box-orient: horizontal;
}

.tabmix_scrollbuttons_box[_side=right][flowing=multibar] {
  -moz-box-orient: vertical;
}

/*
 * For close button on tab
 */
.tabbrowser-tab .tabs-closebutton {
  display: none;
}

/*  we don't use .tabbrowser-tab > .tab-close-button[button_side="right"] here
    because in some theme the buttons are inside tab-middle
*/
.tabbrowser-tabs[closebuttons-side="left"] > .tabbrowser-tab .tab-close-button[button_side="right"],
.tabbrowser-tabs[closebuttons-side="right"] > .tabbrowser-tab .tab-close-button[button_side="left"] {
  display: none;
}

.tabbrowser-tab[protected] .tab-close-button {
  display: none;
}

.tabbrowser-tabs[favhideclose="true"] > .tabbrowser-tab[faviconized="true"] .tab-close-button[button_side="left"],
.tabbrowser-tabs[favhideclose="true"] > .tabbrowser-tab[faviconized="true"] .tab-close-button[button_side="right"] {
   display: none !important;
}

.tabbrowser-tabs:not([favhideclose="true"])[closebuttons-side="left"][closebuttons="activetab"] > .tabbrowser-tab:not([pinned]):not([isPermaTab="true"]):not([protected])[selected="true"] .tab-close-button[button_side="left"],
.tabbrowser-tabs:not([favhideclose="true"])[closebuttons-side="left"][closebuttons="alltabs"] > .tabbrowser-tab:not([pinned]):not([isPermaTab="true"]):not([protected]) .tab-close-button[button_side="left"] {
  display: -moz-box !important;
}

.tabbrowser-tabs:not([favhideclose="true"])[closebuttons-side="right"][closebuttons="activetab"] > .tabbrowser-tab:not([pinned]):not([isPermaTab="true"]):not([protected])[selected="true"] .tab-close-button[button_side="right"],
.tabbrowser-tabs:not([favhideclose="true"])[closebuttons-side="right"][closebuttons="alltabs"] > .tabbrowser-tab:not([pinned]):not([isPermaTab="true"]):not([protected]) .tab-close-button[button_side="right"] {
  display: -moz-box !important;
}

.tabbrowser-tabs[favhideclose="true"][closebuttons-side="left"][closebuttons="activetab"] > .tabbrowser-tab:not([pinned]):not([faviconized="true"]):not([isPermaTab="true"]):not([protected])[selected="true"] .tab-close-button[button_side="left"],
.tabbrowser-tabs[favhideclose="true"][closebuttons-side="left"][closebuttons="alltabs"] > .tabbrowser-tab:not([pinned]):not([faviconized="true"]):not([isPermaTab="true"]):not([protected]) .tab-close-button[button_side="left"] {
  display: -moz-box !important;
}

.tabbrowser-tabs[favhideclose="true"][closebuttons-side="right"][closebuttons="activetab"] > .tabbrowser-tab:not([pinned]):not([faviconized="true"]):not([isPermaTab="true"]):not([protected])[selected="true"] .tab-close-button[button_side="right"],
.tabbrowser-tabs[favhideclose="true"][closebuttons-side="right"][closebuttons="alltabs"] > .tabbrowser-tab:not([pinned]):not([faviconized="true"]):not([isPermaTab="true"]):not([protected]) .tab-close-button[button_side="right"] {
  display: -moz-box !important;
}

/* some theme use display: none !important;  so we must use !important; */
.tabbrowser-tabs[closebuttons-hover="notactivetab"] > .tabbrowser-tab:not([pinned]):not([faviconized="true"]):not([selected="true"]):not([isPermaTab="true"]):not([protected])[showbutton=on] .tabs-closebutton,
.tabbrowser-tabs[closebuttons-hover="alltabs"] > .tabbrowser-tab:not([pinned]):not([faviconized="true"]):not([isPermaTab="true"]):not([protected])[showbutton=on] .tabs-closebutton {
  display: -moz-box !important;
}

/*  for PermaTab */
/*  show PermaTab icon only on right side only right  */
.tabbrowser-tab[isPermaTab="true"] .tabs-closebutton,
.tabbrowser-tab[isPermaTab="true"] .tab-close-button[button_side="left"] {
  display: none !important;
}

.tabbrowser-tabs[closebuttons-side="right"] > .tabbrowser-tab .showhover-box {
  -moz-box-pack: end;
}

/* for themes that use old tabmix_3.xml version */
.tabbrowser-tabs[closebuttons-side="left"] > .tabbrowser-tab .showhover-flex {
  display: none !important;
}

/* prevent text box height from changing when we show the button on tab */
.tabbrowser-tab .showhover-flex {
  height: 0px;
}