/****************************************************************************************/
/* multirow / multiple tab lines - modified for Tab Mix Plus ****************************/
/* all credits go to the original authors: **********************************************/
/* https://www.reddit.com/r/FirefoxCSS/comments/7dclp7/multirow_tabs_in_ff57/ ***********/
/* https://github.com/MrOtherGuy/firefox-csshacks/blob/master/chrome/multi-row_tabs.css */
/****************************************************************************************/

@namespace html url("http://www.w3.org/1999/xhtml");

:root {
  --tab_min_width_mlt: 100px;
  --tab_max_width_mlt: 200px;
  --tab-min-height_mlt: calc(var(--tab-min-height) + 2 * (var(--proton-tab-block-margin, 0px) + var(--tab-block-margin, 0px)));
  --tabmix-scrollbutton-padding: calc(var(--toolbarbutton-inner-padding) + var(--toolbarbutton-outer-padding));
  --tabmix-multirow-margin: 0px;
}

#tabbrowser-tabs {
  min-height: unset !important;
}

.tabbrowser-tab {
  height: var(--tab-min-height_mlt);
}

/* hide default scroll buttons */
#tabbrowser-arrowscrollbox:not([defaultScrollButtons]):not([flowing="scrollbutton"]):not([flowing="singlebar"])::part(overflow-start-indicator),
#tabbrowser-arrowscrollbox:not([defaultScrollButtons]):not([flowing="singlebar"])::part(overflow-end-indicator),
#tabbrowser-arrowscrollbox:not([defaultScrollButtons])::part(scrollbutton-up),
#tabbrowser-arrowscrollbox:not([defaultScrollButtons])::part(scrollbutton-down) {
  display: none;
}

#tabbrowser-arrowscrollbox:not([defaultScrollButtons])[flowing="singlebar"]::part(overflow-end-indicator) {
  margin-inline-end: 6px;
}

#tabmix-scrollbox:not([overflowing]),
#tabmix-scrollbox[flowing="singlebar"],
#tabmix-scrollbox[verticalTabs],
#tabmix-scrollbox[defaultScrollButtons] {
  visibility: collapse;
}

#tabbrowser-tabs[multibar][orient=horizontal] > #tabbrowser-arrowscrollbox::part(scrollbox-clip) {
  overflow: clip;
  display: block;
  margin-top: var(--tabmix-multirow-margin , 0);
  margin-bottom: var(--tabmix-multirow-margin , 0);
  contain: unset;
}

#tabbrowser-arrowscrollbox[flowing=multibar][orient=horizontal]::part(scrollbox) {
  display: flex;
  flex-wrap: wrap;
  max-height: calc(var(--tab-min-height_mlt) * var(--tabs-lines));
}

/* waterfox with userChrome enabled set overflow: hidden */
#TabsToolbar[multibar] {
  height: auto !important;
  overflow: unset !important;
}

#tabbrowser-tabs[multibar][orient=horizontal] .tabbrowser-tab[usercontextid] > .tab-stack > .tab-background > .tab-context-line {
  margin-top: -1px;
}

/*
  apply #tabbrowser-arrowscrollbox button style to our buttons
  based on browser/themes/shared/toolbarbuttons.inc.css
*/
#tabmix-scrollbox[scrolledtostart]::part(scrollbutton-up),
#tabmix-scrollbox[scrolledtoend]::part(scrollbutton-down) {
  opacity: 0.4;
}

/* see tab.js  in this.dynamicProtonRules
#tabmix-scrollbox::part(scrollbutton-up),
#tabmix-scrollbox::part(scrollbutton-down) {
  appearance: none;
  margin: 0 0 var(--tabs-navbar-shadow-size) !important;
  padding: var(--tabmix-scrollbutton-padding) !important;
}
} */

#navigator-toolbox:not(:hover) #tabmix-scrollbox:not([highlight])::part(scrollbutton-down) {
  transition: background-color 1s ease-out 0s;
}

#tabmix-scrollbox[highlight]::part(scrollbutton-down) {
  background-color: highlight;
}

/* see tab.js  in this.dynamicProtonRules
@media (-moz-proton) {
#tabmix-scrollbox::part(scrollbutton-up),
#tabmix-scrollbox::part(scrollbutton-down) {
  appearance: none;
  background-clip: padding-box;
  border: 4px solid transparent;
  border-radius: calc(var(--tab-border-radius) + 4px);
  margin: 0;
  padding: calc(var(--toolbarbutton-inner-padding) - 2px) calc(var(--toolbarbutton-inner-padding) - 6px);
}
} */

#tabmix-scrollbox:not([scrolledtostart])::part(scrollbutton-up):hover,
#tabmix-scrollbox:not([scrolledtoend])::part(scrollbutton-down):hover {
  background-color: var(--toolbarbutton-hover-background);
  color: inherit;
}

#tabmix-scrollbox:not([scrolledtostart])::part(scrollbutton-up):hover:active,
#tabmix-scrollbox:not([scrolledtoend])::part(scrollbutton-down):hover:active {
  background-color: var(--toolbarbutton-active-background, var(--toolbarbutton-hover-background));
  color: inherit;
}

/* based on browser/themes/shared/tabs.inc.css */
#tabmix-scrollbox::part(scrollbutton-up),
#tabmix-scrollbox::part(scrollbutton-down) {
  fill: var(--tabmix-scrollbox-button-fill, currentColor);
  /* firefox 92+ - Bug 1703914 Remove --toolbarbutton-icon-fill-opacity CSS variable */
  fill-opacity: var(--toolbarbutton-icon-fill-opacity, 1);
}

#tabmix-scrollbox[orient=vertical]::part(scrollbutton-up),
#tabmix-scrollbox[orient=vertical]::part(scrollbutton-down) {
  list-style-image: var(--tabmix-scrollbutton-image);
}

/* swap direction from the original rule
   we place the indicator left to the buttons
*/
#tabmix-scrollbox:-moz-locale-dir(ltr)::part(overflow-start-indicator),
#tabmix-scrollbox:-moz-locale-dir(rtl)::part(overflow-end-indicator) {
  transform: scaleX(-1);
}

/* :::: make sure all buttons align to the top row :::: */
#TabsToolbar[multibar] #TabsToolbar-customization-target,
#TabsToolbar[multibar] .toolbarbutton-1:not([id="tabs-newtab-button"]) {
  align-items: flex-start;
  -moz-box-align: start; /* before Firefox 112 */
}

@media not (-moz-proton) {
:root:not([uidensity=compact]) #TabsToolbar[multibar] .toolbarbutton-1:not([id="tabs-newtab-button"]) {
  margin-top: var(--tabmix-button-margin-top) !important;
}

:root[uidensity=compact] #TabsToolbar[multibar] .toolbarbutton-1:not([id="tabs-newtab-button"]) {
  margin-top: var(--tabmix-button-margin-top-compact) !important;
}
}

@media (-moz-proton) {
:root:not([uidensity=compact]) #TabsToolbar[multibar] .toolbarbutton-1:not([id="tabs-newtab-button"]) {
  margin-top: var(--tabmix-button-margin-top-proton) !important;
}

:root[uidensity=compact] #TabsToolbar[multibar] .toolbarbutton-1:not([id="tabs-newtab-button"]) {
  margin-top: var(--tabmix-button-margin-top-proton-compact) !important;
}
}

#tabbrowser-tabs[orient=horizontal] > .tab-drop-indicator {
  pointer-events: none;
}

#tabbrowser-tabs[multibar][orient=horizontal] > .tab-drop-indicator {
  margin-top: calc(var(--tab-min-height_mlt) * (var(--tabmix-visiblerows) - 1) + var(--tabmix-multirow-margin));
}
