/****************************************************************************************/
/* multirow / multiple tab lines - modified for Tab Mix Plus ****************************/
/* all credits go to the original authors: **********************************************/
/* https://www.reddit.com/r/FirefoxCSS/comments/7dclp7/multirow_tabs_in_ff57/ ***********/
/* https://github.com/MrOtherGuy/firefox-csshacks/blob/master/chrome/multi-row_tabs.css */
/****************************************************************************************/

@namespace html url("http://www.w3.org/1999/xhtml");

:root {
  --tab_min_width_mlt: 100px;
  --tab_max_width_mlt: 200px;
  --tabmix-scrollbutton-padding:
      calc(var(--toolbarbutton-inner-padding) + var(--toolbarbutton-outer-padding))
}

#tabbrowser-tabs {
  min-height: unset !important;
  padding-inline-start: 0px;
}

#tabbrowser-arrowscrollbox[flowing=multibar][orient=horizontal] {
  overflow: -moz-hidden-unscrollable;
  display: block;
}

.tabbrowser-tab {
  height: var(--tab-min-height_mlt);
}

/* hide default scroll buttons */
#tabbrowser-arrowscrollbox:not([defaultScrollButtons])::part(overflow-start-indicator),
#tabbrowser-arrowscrollbox:not([defaultScrollButtons])::part(overflow-end-indicator),
#tabbrowser-arrowscrollbox:not([defaultScrollButtons])::part(scrollbutton-up),
#tabbrowser-arrowscrollbox:not([defaultScrollButtons])::part(scrollbutton-down) {
  display: none;
}

#tabmix-scrollbox:not([overflowing="true"]),
#tabmix-scrollbox[flowing="singlebar"],
#tabmix-scrollbox[defaultScrollButtons] {
  visibility: collapse;
}

#tabbrowser-arrowscrollbox[flowing=multibar][orient=horizontal]::part(scrollbox-clip) {
  overflow: -moz-hidden-unscrollable;
  display: block;
  margin-top: calc(var(--tabmix-multirow , 0) * var(--tabmix-multirow-margin , 0));
  margin-bottom: calc(var(--tabmix-multirow , 0) * var(--tabmix-multirow-margin , 0));
}

#tabbrowser-arrowscrollbox[flowing=multibar][orient=horizontal]::part(scrollbox) {
  display: flex;
  flex-wrap: wrap;
  max-height: calc(var(--tab-min-height_mlt) * var(--tabs-lines));
}

/*
  apply #tabbrowser-arrowscrollbox button style to our buttons
  based on browser/themes/shared/toolbarbuttons.inc.css
*/
#tabmix-scrollbox[scrolledtostart=true]::part(scrollbutton-up),
#tabmix-scrollbox[scrolledtoend=true]::part(scrollbutton-down) {
  opacity: 0.4;
}

#tabmix-scrollbox::part(scrollbutton-up),
#tabmix-scrollbox::part(scrollbutton-down) {
  appearance: none;
  margin: 0 0 var(--tabs-navbar-shadow-size) !important;
  padding: var(--tabmix-scrollbutton-padding) !important;
}

#tabmix-scrollbox:not([scrolledtostart=true])::part(scrollbutton-up):hover,
#tabmix-scrollbox:not([scrolledtoend=true])::part(scrollbutton-down):hover {
  background-color: var(--toolbarbutton-hover-background);
  color: inherit;
}

/* based on browser/themes/shared/tabs.inc.css */
#tabmix-scrollbox::part(scrollbutton-up),
#tabmix-scrollbox::part(scrollbutton-down) {
  fill: var(--lwt-toolbarbutton-icon-fill, currentColor);
  fill-opacity: var(--toolbarbutton-icon-fill-opacity);
}

#tabmix-scrollbox[orient=vertical]::part(scrollbutton-up),
#tabmix-scrollbox[orient=vertical]::part(scrollbutton-down) {
  list-style-image: url(chrome://global/skin/icons/arrow-dropdown-16.svg);
}

/* :::: make sure all buttons align to the top row :::: */
#TabsToolbar[multibar] #TabsToolbar-customization-target {
  -moz-box-align: start;
}

#TabsToolbar[multibar] .toolbarbutton-1 {
  -moz-box-align: start;
  margin-top: 2px !important;
}

@media (-moz-proton) {
#TabsToolbar[multibar] .toolbarbutton-1 {
  padding-top: 1px !important;
}

#tabmix-scrollbox {
  margin-top: 4px
}
}
