/**
    Pale Moon

    All platform
**/

/* :::: tabbar on bottom :::: */
/* we don't need rule for toolbar-drag - when tabbar on bottom */
#TabsToolbar[tabbaronbottom] {
  -moz-binding: url("chrome://tabmixplus/content/tab/scrollbox.xml#palemoon-bottom-toolbar") !important;
  position: fixed !important;
  -moz-appearance: none !important;
  /* look at browser.css for each platform
  background-image: none !important;
  */
  margin-top: 1px !important;
}

.tabbrowser-arrowscrollbox[flowing="multibar"] > toolbarbutton {
  vertical-align: bottom;
}
