#stylespanels > tabpanel {
  -moz-binding: url(chrome://tabmixplus/content/preferences/subdialogs/pref-appearance.xml#tabstylepanel);
}

.tabStyles_underline span {
   text-decoration: underline;
}

#stylestabs > tab {
  padding-left: 4px !important;
  padding-right: 4px !important;
}

/* Chromifox theme force button height to 25px */
#AppearanceTabBox[chromifox=true] .spinbuttons-button {
  max-height: 11px !important;
}

checkbox[anonid="useThis"][disabled] .checkbox-check {
  visibility: hidden;
}

checkbox[anonid="useThis"][disabled] {
  color: black;
}

tabmix-rgbcontrol {
  -moz-binding: url(chrome://tabmixplus/content/preferences/subdialogs/pref-appearance.xml#tabmix-rgbcontrol);
}

.rgbcontrol {
  margin-left: -1px;
  margin-right: 0px;
}

.rgbcontrol > .textbox-input-box > .numberbox-input {
  max-width: 3em;
}

.bgBottom, .bgTop {
  -moz-margin-start: 35px;
}
