/**
    Firefox version 4.0

    windows and Linux platform

**/

/* :::: progress bar on tabs :::: */
.tabbrowser-tabs[tabmix_australis] > .tabbrowser-tab:not([selected="true"]) > .tab-stack > .tab-progress-container > .tab-progress {
  margin-top: 2px;
}

.tabbrowser-tabs[tabmix_australis] > .tabbrowser-tab[selected="true"] > .tab-stack > .tab-progress-container > .tab-progress {
  margin-top: 1px;
  -moz-margin-start: 4px;
}

.tabbrowser-tabs[tabmix_australis] > .tabbrowser-tab > .tab-stack > .tab-background {
  -moz-box-ordinal-group: 10;
}

.tabbrowser-tabs[tabmix_australis] > .tabbrowser-tab > .tab-stack > .tab-content {
  -moz-box-ordinal-group: 20;
}

.tabbrowser-tabs[tabmix_australis] > .tabbrowser-tab > .tab-stack > .tab-progress-container {
  -moz-box-ordinal-group: 100;
}

.tab-progress {
  -moz-appearance: none;
  min-height: 0px;
  height: 4px;
  border: 0;
  margin-top: -4px;
  background-color: transparent;
}

.tab-progress > .progress-bar {
  -moz-appearance: none;
  min-width: 3px;
  border-top: 1px solid rgba(100,100,100,.1);
  border-bottom: 1px solid rgba(0,0,0,.2);
  background-color: Highlight;
}
