/**
    Firefox version 4.0

    Mac platform

**/

@import url("chrome://tabmixplus/skin/app_version/4.0/general.css");
@import url("chrome://tabmixplus/skin/app_version/4.0/mac/progress.css");

/* :::: tabbar on bottom ::::
  we leave the default background-image on mac
#TabsToolbar[tabbaronbottom] {
  background-image: none !important;
}
*/

/* override some rules for toolbarbutton-1 and tabs-closebutton*/
#TabsToolbar > .tabs-closebutton {
  list-style-image: url("chrome://global/skin/icons/close.png");
}

#TabsToolbar .tabs-closebutton:not([type="menu-button"]):not([disabled=true]):not([open]):hover {
  background-image: none !important;
}

/* Tabstrip close button Firefox 31+ */
@media (min-resolution: 2dppx) {
  .tabs-closebutton.tabmix > .toolbarbutton-icon {
    width: 16px;
  }
}

#TabsToolbar[tabbaronbottom] > #tabbrowser-tabs > .tabbrowser-tab[selected="true"] {
  position: static !important;
}

.tabbrowser-tabs[classic="v4Mac"] > .tabbrowser-tab .tabs-closebutton {
  margin: 0px;
}

#TabsToolbar[multibar]:not(:-moz-lwtheme) {
  background-repeat: repeat;
  -moz-appearance: toolbar;
}

.tabbrowser-tabs[multibar=true] .tabbrowser-arrowscrollbox > toolbarbutton {
  vertical-align: bottom;
}

.tabbrowser-tab[tabmix_tabStyle*="bg"] > .tab-stack > .tab-content {
  border-image: none !important;
}

/* tabmix color on tab - for inactive window */
.tabbrowser-tab[tabmix_tabStyle*="bg"] > .tab-stack > .tab-background >
        :-moz-any(.tab-background-start, .tab-background-middle, .tab-background-end):-moz-window-inactive {
  opacity: 0.5 !important;
}

/* for mac - look in pinstripe/browser/browser.css */
.tabbrowser-tabs > .tabbrowser-tab > * > .tab-progress-container > .tab-progress:not([selected="true"]),
.tabbrowser-tabs > .tabbrowser-tab:not(:hover) > * > * > .tab-icon > .tab-icon-image:not([selected="true"]),
.tabbrowser-tabs > .tabbrowser-tab:not(:hover) > * > * > .tab-icon > .tab-protect-icon:not([selected="true"]),
.tabbrowser-tabs > .tabbrowser-tab:not(:hover) > * > * > .tab-icon > .tab-lock-icon:not([selected="true"]),
.tabbrowser-tabs > .tabbrowser-tab:not(:hover) > * > * > .tab-icon > .tab-reload-icon:not([selected="true"]),
.tabbrowser-tabs > .tabbrowser-tab:not(:hover) > * > * > .tab-text-stack > .tab-label:not([selected="true"]):-moz-lwtheme {
  opacity: .8;
}

/* :::: scrollbutton arrow - fix borders :::: */
#tabmixScrollBox[flowing=scrollbutton] > .scrollbutton-up,
#tabmixScrollBox[flowing=multibar] > .scrollbutton-up {
  -moz-border-end: none;
}

#tabmixScrollBox[flowing=multibar] > .scrollbutton-down {
  -moz-border-start: none;
}

#tabmixScrollBox[flowing=scrollbutton] > .scrollbutton-down:not([disabled]),
#tabmixScrollBox[flowing=multibar] > .scrollbutton-up:not([disabled]),
#tabmixScrollBox[flowing=multibar] > .scrollbutton-down:not([disabled]){
  -moz-border-image: none;
}

#tabmixScrollBox[flowing=scrollbutton] > .scrollbutton-up:-moz-locale-dir(ltr) {
  -moz-border-image: url("chrome://browser/skin/tabbrowser/tab-overflow-border.png") 0 2 0 2 / 0 0 0 2px;
}

#tabmixScrollBox[flowing=scrollbutton] > .scrollbutton-up:-moz-locale-dir(rtl) {
  -moz-border-image: url("chrome://browser/skin/tabbrowser/tab-overflow-border.png") 0 2 0 2 / 0 2px 0 0;
}

.tabbrowser-tabs[tabmix_australis="true"] > .tabbrowser-tab[tabmix_tabStyle*="bg"]:not([selected=true]) > .tab-stack > .tab-background > .tab-background-middle {
  clip-path: none !important;
}
