/* ===== preferences.css =====================================================
  == Styles used by the XUL prefwindow element.
  ======================================================================= */

  @namespace html url("http://www.w3.org/1999/xhtml");

  /* ::::: dialog ::::: */

  prefwindow {
    padding: 0px;
  }

  prefpane {
    padding-top: 8px;
    padding-bottom: 10px;
    padding-inline-start: 8px;
    padding-inline-end: 10px;
  }

  prefwindow[type="child"] {
    padding-top: 8px;
    padding-bottom: 10px;
    padding-inline-start: 8px;
    padding-inline-end: 10px;
  }

  prefwindow[type="child"] > prefpane {
    padding: 0px;
  }

  .prefWindow-dlgbuttons {
    padding-bottom: 10px;
    padding-inline-start: 8px;
    padding-inline-end: 10px;
  }

  prefwindow[type="child"] .prefWindow-dlgbuttons {
    padding: 0px;
  }

  radio[pane] {
    -moz-appearance: none;
    margin: 0px 1px 0px 1px;
    padding: 1px 3px 1px 3px;
    min-width: 4.5em;
  }

  .paneSelector {
    border-bottom: 2px groove ThreeDFace;
    margin: 0px;
    padding-inline-start: 10px;
    background-color: -moz-Field;
    color: -moz-FieldText;
  }

  .paneButtonIcon {
    width: 32px;
    height: 32px;
  }

  radio[pane]:hover {
    background-color: #E0E8F6;
    color: black;
    -moz-appearance: none;
  }

  radio[pane][selected="true"] {
    background-color: #C1D2EE;
    color: black;
    -moz-appearance: none;
  }

  html|fieldset {
    display: grid;
  }

  html|fieldset[flex="1"] {
    -moz-box-flex: 1;
  }

#ClickTabbar .multiselectitem,
#mouseClick_tabbox[selectedIndex="0"] #ClickTab .multiselectitem {
  display: none;
}

  /* ::::: spinbuttons ::::: */

input[type="number"][increaseDisabled]::-moz-number-spin-up,
input[type="number"][decreaseDisabled]::-moz-number-spin-down {
  opacity: 0.5;
}

input[type="number"] {
  padding-inline-end: 0;
}

input[type="number"]::-moz-number-spin-up,
input[type="number"]::-moz-number-spin-down {
  min-height: 11px;
  margin: 0 -2px 0 2px !important;
}

input:invalid {
  border: 1px solid red;
  outline-style: none;
}

