/**
    Firefox version 60+

    All platform

**/

/* bug 1379338 remove these styles */
@import url("chrome://tabmix-os/skin/preferences.css");

/********** preferences ********/

prefwindow,
prefwindow:root {
  /* -moz-binding: url("chrome://global/content/bindings/preferences.xml#prefwindow"); */
  -moz-binding: url("chrome://tabmixplus/content/preferences/preferences.xml#prefwindow") !important;
  -moz-box-orient: vertical;
}

prefpane {
  /* -moz-binding: url("chrome://global/content/bindings/preferences.xml#prefpane"); */
  -moz-binding: url("chrome://tabmixplus/content/preferences/preferences.xml#prefpane") !important;
  -moz-box-orient: vertical;
}

prefwindow > .paneDeckContainer {
  overflow: hidden;
}

prefpane > .content-box {
  overflow: hidden;
}

prefwindow[type="child"] > .paneDeckContainer {
  overflow: -moz-hidden-unscrollable;
}

prefwindow[type="child"] > prefpane > .content-box {
  -moz-box-flex: 1;
  overflow: -moz-hidden-unscrollable;
}

preferences {
  /* -moz-binding: url("chrome://global/content/bindings/preferences.xml#preferences"); */
  -moz-binding: url("chrome://tabmixplus/content/preferences/preferences.xml#preferences") !important;
  visibility: collapse;
}

preference {
  -moz-binding: url("chrome://tabmixplus/content/preferences/bindings.xml#preference-60") !important;
  visibility: collapse;
}

radio[pane] {
  /* -moz-binding: url("chrome://global/content/bindings/preferences.xml#panebutton") !important; */
  -moz-binding: url("chrome://tabmixplus/content/preferences/preferences.xml#panebutton") !important;
  -moz-box-orient: vertical;
  -moz-box-align: center;
}

prefwindow[chromehidden~="toolbar"] .chromeclass-toolbar {
  display: none;
}
