/**
    Firefox version 60+

    Mac platform

**/

@import url("chrome://tabmixplus/skin/app_version/all/mac/browser.css");
@import url("chrome://tabmixplus/skin/app_version/all/mac/progress.css");
@import url("chrome://tabmixplus/skin/app_version/39.0/tabStyles.css");

#tabbrowser-tabs[tabmix_currentStyle~="bg"] > .tabbrowser-tab[visuallyselected="true"] > .tab-stack > .tab-content,
#tabbrowser-tabs[tabmix_unloadedStyle~="bg"] > .tabbrowser-tab:not([visuallyselected="true"])[tabmix_tabState="unloaded"] > .tab-stack > .tab-content,
#tabbrowser-tabs[tabmix_unreadStyle~="bg"] > .tabbrowser-tab:not([visuallyselected="true"])[tabmix_tabState="unread"] > .tab-stack > .tab-content,
#tabbrowser-tabs[tabmix_otherStyle~="bg"] > .tabbrowser-tab:not([visuallyselected="true"]):not([tabmix_tabState]) > .tab-stack > .tab-content {
  border-image: none !important;
}

/* tabmix color on tab - for inactive window */
#tabbrowser-tabs[tabmix_currentStyle~="bg"] > .tabbrowser-tab[visuallyselected="true"] > .tab-stack > .tab-background >
      :-moz-any(.tab-background-start, .tab-background-middle, .tab-background-end):-moz-window-inactive,
#tabbrowser-tabs[tabmix_unloadedStyle~="bg"] > .tabbrowser-tab:not([visuallyselected="true"])[tabmix_tabState="unloaded"] > .tab-stack > .tab-background >
      :-moz-any(.tab-background-start, .tab-background-middle, .tab-background-end):-moz-window-inactive,
#tabbrowser-tabs[tabmix_unreadStyle~="bg"] > .tabbrowser-tab:not([visuallyselected="true"])[tabmix_tabState="unread"] > .tab-stack > .tab-background >
      :-moz-any(.tab-background-start, .tab-background-middle, .tab-background-end):-moz-window-inactive,
#tabbrowser-tabs[tabmix_otherStyle~="bg"] > .tabbrowser-tab:not([visuallyselected="true"]):not([tabmix_tabState]) > .tab-stack > .tab-background >
      :-moz-any(.tab-background-start, .tab-background-middle, .tab-background-end):-moz-window-inactive {
  opacity: 0.5 !important;
}

#tabbrowser-tabs[tabmix_unloadedStyle~="aus"] > .tabbrowser-tab:not([visuallyselected="true"])[tabmix_tabState="unloaded"] > .tab-stack > .tab-background > .tab-background-middle,
#tabbrowser-tabs[tabmix_unreadStyle~="aus"] > .tabbrowser-tab:not([visuallyselected="true"])[tabmix_tabState="unread"] > .tab-stack > .tab-background > .tab-background-middle,
#tabbrowser-tabs[tabmix_otherStyle~="aus"] > .tabbrowser-tab:not([visuallyselected="true"]):not([tabmix_tabState]) > .tab-stack > .tab-background > .tab-background-middle {
  clip-path: none !important;
}
