/**
    Firefox all versions

    Windows platform


    to apply rule only to default them add #tabbrowser-tabs[classic40]
**/

/* :::: tabbar on bottom :::: */
#TabsToolbar[tabbaronbottom] {
  background-image: none !important;
}

/* override some rules for toolbarbutton-1 and tabs-closebutton*/
#TabsToolbar > .tabs-closebutton:not([class~="tabmix"]) {
  list-style-image: url("chrome://global/skin/icons/close.png");
}

#TabsToolbar > .tabs-closebutton {
  background-image: none !important;
}

/*  new tab button after last tab on firefox 4.0  aero */
#TabsToolbar[tabmix_aero] .tabbrowser-tabs[multibar=true] .tabbrowser-arrowscrollbox > toolbarbutton {
  vertical-align: bottom;
}

/* enable this rule after bug 738491 australis-tabs-win lands, and move it to diffrent file
#tabbrowser-tabs[flowing="multibar"]:not([multibar]) > .tabbrowser-arrowscrollbox > toolbarbutton {
  vertical-align: bottom;
}
*/

/* for TabsToolbar on bottom with windows 7 */
#tabmix-bottom-toolbox[tabmix_aero] {
  -moz-appearance: none;
  border-top: none;
  background-color: transparent;
}

#TabsToolbar[tabbaronbottom][tabmix_aero]:not(:-moz-lwtheme) {
  -moz-appearance: none;
  border-style: none;
}

/*  scrollbutton arrow - fix borders  */
#tabmixScrollBox[flowing=scrollbutton] > .scrollbutton-down:not([disabled]),
#tabmixScrollBox[flowing=multibar] > .scrollbutton-up:not([disabled]),
#tabmixScrollBox[flowing=multibar] > .scrollbutton-down:not([disabled]){
  -moz-border-image: none;
}

#tabmixScrollBox[flowing=scrollbutton] > .scrollbutton-up:not([disabled]) {
  -moz-border-image: url("chrome://browser/skin/tabbrowser/tab-overflow-border.png") 0 2 0 2 / 0 0 0 2px;
}

#tabmixScrollBox[flowing=scrollbutton] > .scrollbutton-up[disabled] {
  border-right: 0px;
}

#TabsToolbar[multibar] .toolbarbutton-1:not([disabled]):hover,
#TabsToolbar[multibar] .toolbarbutton-1[open],
#TabsToolbar[multibar] .toolbarbutton-1 > .toolbarbutton-menubutton-button:not([disabled]):hover,
#TabsToolbar > #tabmixScrollBox[flowing=multibar] > .scrollbutton-up:not([disabled]):hover,
#TabsToolbar > #tabmixScrollBox[flowing=multibar] > .scrollbutton-down:not([disabled]):hover {
  background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.5)),
                    linear-gradient(transparent, rgba(0,0,0,.25) 30%),
                    linear-gradient(transparent, rgba(0,0,0,.25) 30%),
                    linear-gradient(transparent, rgba(0,0,0,.15) 100%),
                    linear-gradient(transparent, rgba(0,0,0,.25) 30%);
  background-position: 1px 1px, 0pt 0px, 100% 0px, 0px 0pt, 0px 100%;
  background-size: calc(100% - 2px) calc(100% - 2px), 1px calc(100% - 1px), 1px calc(100% - 1px), 100% 1px, 100% 1px;
  background-repeat: no-repeat;
}
