/**
    Firefox version 39+

    Windows platform

**/

@import url("chrome://tabmixplus/skin/app_version/all/win/browser.css");
@import url("chrome://tabmixplus/skin/app_version/all/win/progress.css");
@import url("chrome://tabmixplus/skin/app_version/39.0/win/tabStyles.css");
@import url("chrome://tabmixplus/skin/app_version/39.0/tabStyles.css");

@media all and (-moz-os-version: windows-win7) {
  /* new tab button after last tab on firefox 4.0 aero */
  #tabbrowser-tabs[multibar=true] .tabbrowser-arrowscrollbox > toolbarbutton {
    vertical-align: bottom;
  }

  /* for TabsToolbar on bottom with windows 7 */
  #tabmix-bottom-toolbox {
    -moz-appearance: none;
    border-top: none;
    background-color: transparent;
  }

  #TabsToolbar[tabbaronbottom]:not(:-moz-lwtheme) {
    -moz-appearance: none;
  }
}
