/**
    Firefox all versions

    ALL platforms

**/

/* for privateTab extensions */
#TabsToolbar[privateTab-fixAfterTabsButtonsAccessibility]
    #tabbrowser-tabs[tabmix-flowing="multibar"][widthFitTitle="true"] #tabs-newtab-button {
  vertical-align: bottom;
}

/* :::: for tabs close button on TabsToolbar :::: */
#tabmix-tabs-closebutton[tabmix-fill-opacity] {
  appearance: none;
  fill-opacity: 0;
  opacity: 0.8
}

#tabmix-tabs-closebutton.close-icon {
  width: unset;
}

#tabmix-tabs-closebutton:not([overflowedItem]):hover {
  background-color: transparent;
}

#widget-overflow-list #tabmix-tabs-closebutton.close-icon > .toolbarbutton-text {
  display: block;
}

/* :::: Space on tab bar :::: */
#tabbrowser-arrowscrollbox[orient="horizontal"][tabmix-tabBarSpace] {
  -moz-margin-start: 0;
  -moz-margin-end: 0;
  -moz-padding-end: 15px;
}

/* #pinned-tabs-container exist since Firefox 142 */
#TabsToolbar[tabmix-tabBarSpace]:not(:has(#pinned-tabs-container)) #tabbrowser-arrowscrollbox[orient="horizontal"],
#TabsToolbar[tabmix-tabBarSpace]:has(#pinned-tabs-container[orient="horizontal"]) {
  -moz-padding-start: 15px;
}

#tabbrowser-arrowscrollbox[orient="vertical"][tabmix-tabBarSpace] {
  padding-block: 15px;
}

#TabsToolbar[tabmix-tabBarSpace] .titlebar-spacer[type="pre-tabs"],
#TabsToolbar[tabmix-tabBarSpace] .titlebar-spacer[type="post-tabs"] {
  width: 25px;
}

/* same width as history > Recently Closed Windows   */
.tabmix-subview {
  max-width: 32em !important;
}

.tabmix-subview menuseparator.subviewbutton {
  border-top: 1px solid var(--panel-separator-color);
  min-height: 0;
  padding: 0;
}

.context-open {
  outline: var(--focus-outline);
  outline-offset: var(--focus-outline-inset);
}

#tabbrowser-tabs[no-animation] .tabbrowser-tab:not([pinned]) {
	transition: none !important;
}

/* for tabmix option menu in unified-extensions-list */
toolbaritem[data-extensionid="{dc572301-7619-498c-a57d-39143191b318}"] {
  & > unified-extensions-item {
    display: contents !important;
    margin: 0 !important;
  }

  .unified-extensions-item-row-wrapper > .subviewbutton {
    margin: 0;
  }

  /* Specific override when placed in the toolbar */
  &:is([cui-areatype="toolbar"]) {
    .unified-extensions-item-action-button {
      padding: 0 1px !important;

      .unified-extensions-item-icon {
        margin: 0;
        padding: 5px;
        width: 28px;
        height: 28px;
      }

      .unified-extensions-item-contents {
        display: none !important;
      }

      &:hover  {
        background-color: transparent;

        > .unified-extensions-item-icon {
          border-radius: var(--toolbarbutton-border-radius);
          background-color: var(--toolbarbutton-hover-background);
          color: inherit;
          outline-color: var(--toolbarbutton-hover-outline-color);
        }
      }

      &:hover:active  {
        background-color: transparent;

        > .unified-extensions-item-icon {
          background-color: var(--toolbarbutton-active-background);
          color: inherit;
          outline-color: var(--toolbarbutton-active-outline-color);
        }
      }
    }

    .unified-extensions-item-menu-button {
      display: none !important;
    }
  }
}
