/**
    Firefox all versions

    ALL platforms

**/

/* for privateTab extensions */
#TabsToolbar[privateTab-fixAfterTabsButtonsAccessibility]
    #tabbrowser-tabs[flowing="multibar"][widthFitTitle="true"] .tabs-newtab-button {
  vertical-align: bottom;
}

/* :::: for tabs close button on TabsToolbar :::: */
#tabmix-tabs-closebutton {
  -moz-appearance: none;
  fill-opacity: 0;
  opacity: 0.8
}

 #tabmix-tabs-closebutton > .toolbarbutton-icon {
  height: 100%;
  width: 100%;
  padding: 4px;
}

/* ::::  for light weight themes :::: */
#main-window[tabmix_lwt]:-moz-lwtheme {
  background-repeat: repeat-y !important;
}

/* :::: Space on tab bar :::: */
#tabbrowser-tabs[tabBarSpace] > #tabbrowser-arrowscrollbox {
  -moz-margin-start: 0;
  -moz-margin-end: 0;
  -moz-padding-start: 15px;
  -moz-padding-end: 15px;
}

/* same width as history > Recently Closed Windows   */
.tabmix-subview {
  max-width: 32em !important;
}

/* override panelUI.css */
.tabmix-subview toolbarbutton.subviewbutton:not([disabled],[open],:active):is(:hover,:focus) {
  background-color:  #9bcdff;
}

.tabmix-subview toolbarbutton.subviewbutton:not([disabled]):is([open], :hover:active) {
  background-color:  #9bcdff;
}
