/* stylelint-disable no-descending-specificity */

/**
    Firefox versions 143+

    for ALL platforms

**/

toolbar[iconsize="small"] #tabmix-closedTabsButton, .closedtabs-icon > .menu-icon { --menuitem-icon: url("chrome://tabmixplus/skin/icons/closed-tabs-16x16.png"); }
toolbar[iconsize="small"] #tabmix-closedTabsButton:hover, .closedtabs-icon:hover > .menu-icon { --menuitem-icon: url("chrome://tabmixplus/skin/icons/closed-tabs-16x16-hovered.png"); }
#main-window:not([customizing]) toolbar[iconsize="small"] #tabmix-closedTabsButton[disabled="true"], .closedtabs-icon[disabled="true"] > .menu-icon { --menuitem-icon: url("chrome://tabmixplus/skin/icons/closed-tabs-16x16-disabled.png"); }

toolbar[iconsize="small"] #tabmix-closedWindowsButton, .closedwindows-icon > .menu-icon { --menuitem-icon: url("chrome://tabmixplus/skin/icons/closed-win-16x16.png"); }
toolbar[iconsize="small"] #tabmix-closedWindowsButton:hover, .closedwindows-icon:hover > .menu-icon { --menuitem-icon: url("chrome://tabmixplus/skin/icons/closed-win-16x16-hovered.png")!important; }
#main-window:not([customizing]) toolbar[iconsize="small"] #tabmix-closedWindowsButton[disabled="true"], .closedwindows-icon[disabled="true"] > .menu-icon { --menuitem-icon: url("chrome://tabmixplus/skin/icons/closed-win-16x16-disabled.png")!important; }

toolbar[iconsize="small"] #tabmix-alltabs-button, .tabmix-tabslist-icon > .menu-icon { --menuitem-icon: url("chrome://tabmixplus/skin/icons/tab-list-16x16.png"); }
toolbar[iconsize="small"] #tabmix-alltabs-button:hover, .tabmix-tabslist-icon:hover > .menu-icon { --menuitem-icon: url("chrome://tabmixplus/skin/icons/tab-list-16x16-hovered.png"); }
toolbar[iconsize="small"] #tabmix-alltabs-button[disabled="true"], .tabmix-tabslist-icon[disabled="true"] > .menu-icon { --menuitem-icon: url("chrome://tabmixplus/skin/icons/tab-list-24x24-disabled.png"); }

.tabmix-menu-icon .menu-icon { --menuitem-icon: url("chrome://tabmixplus/skin/tmpsmall.png"); }

toolbar[iconsize="small"] #btn_sessionmanager, .sessionmanager-icon > .menu-icon { --menuitem-icon: url("chrome://tabmixplus/skin/icons/session-manager-16x16.png"); }
toolbar[iconsize="small"] #btn_sessionmanager:hover, .sessionmanager-icon:hover > .menu-icon { --menuitem-icon: url("chrome://tabmixplus/skin/icons/session-manager-16x16-hovered.png"); }
#main-window:not([customizing]) toolbar[iconsize="small"] #btn_sessionmanager[disabled="true"], .sessionmanager-icon[disabled="true"] > .menu-icon { --menuitem-icon: url("chrome://tabmixplus/skin/icons/session-manager-16x16-disabled.png"); }
