
/* ::::: number input ::::: */

@namespace html url("http://www.w3.org/1999/xhtml");

input[type="number"][increaseDisabled]::-moz-number-spin-up,
input[type="number"][decreaseDisabled]::-moz-number-spin-down {
  opacity: 0.5;
}

input[type="number"] {
  padding-inline-end: 0;
}

input[type="number"]::-moz-number-spin-up,
input[type="number"]::-moz-number-spin-down {
  min-height: 11px;
  margin: 0 -2px 0 2px !important;
}

input:invalid {
  border: 1px solid red;
  outline-style: none;
}
