
/* ::::: number input ::::: */

@namespace html url("http://www.w3.org/1999/xhtml");

:root {
  --input-padding-inline: 1px; /* non proton value based on forms.css  */
  --input-sppiner-offset: 19px;
  --input-width-offset: calc(var(--input-sppiner-offset) + var(--input-padding-inline));
}

@media (-moz-proton) {
:root {
  --input-padding-inline: 4px;
  /* one extra pixel needed with proton */
  --input-width-offset: calc(var(--input-sppiner-offset) + var(--input-padding-inline) + 1px);
}
}

input[type="number"]:not(:disabled)[increaseDisabled]::-moz-number-spin-up,
input[type="number"]:not(:disabled)[decreaseDisabled]::-moz-number-spin-down {
  opacity: 0.6;
}

input[type="number"] {
  padding-inline-end: 0;
}

input[type="number"]::-moz-number-spin-up,
input[type="number"]::-moz-number-spin-down {
  min-height: 11px;
  margin: 0 -2px 0 2px;
}

input[type="number"]:invalid {
  border: 1px solid red;
  outline-style: none;
}

/* fix width issue with some theme/fonts */
input[type="number"][size="2"] {
  width: calc(2ch + var(--input-width-offset));
}
input[type="number"][size="3"] {
  width: calc(3ch + var(--input-width-offset));
}
input[type="number"][size="4"] {
  width: calc(4ch + var(--input-width-offset));
}
input[type="number"][size="5"] {
  width: calc(5ch + var(--input-width-offset));
}
input[type="number"][size="6"] {
  width: calc(6ch + var(--input-width-offset));
}

@media (-moz-proton) {

/* textboxes */
input[type="number"] {
  appearance: none;
  border: 1px solid var(--in-content-box-border-color);
  border-radius: 4px;
  color: inherit;
  background-color: var(--in-content-box-background);
}


input[type="number"] {
  font-family: inherit;
  font-size: inherit;
  padding: 2px 0 2px var(--input-padding-inline);
  margin: 2px 4px;
}

input[type="number"]:focus,
richlistbox:focus-visible {
  border-color: transparent;
  outline: 2px solid var(--in-content-focus-outline-color);
  outline-offset: -1px; /* Prevents antialising around the corners */
}

input[type="number"]:invalid {
  border-color: transparent;
  outline: 2px solid var(--in-content-border-invalid);
  outline-offset: -1px; /* Prevents antialising around the corners */
}

input[type="number"]:disabled {
  opacity: 0.4;
}

input[type="number"] {
  padding-inline-end: var(--input-sppiner-offset);
  position: relative;
}

input[type="number"]::-moz-number-spin-box {
  height: 100%;
  max-height: 100%;
  border-inline-start: 1px solid var(--in-content-box-border-color);
  width: calc(1em + 2px);
  border-start-end-radius: 4px;
  border-end-end-radius: 4px;
  margin-inline-start: 2px !important;
  position: absolute;
  right: 0;
  top: 0;
}

input[type="number"]::-moz-number-spin-up,
input[type="number"]::-moz-number-spin-down {
  border: 0;
  border-radius: 0;
  background-color: var(--in-content-button-background);
  background-image: url("chrome://global/skin/icons/arrow-down.svg");
  background-size: 8px;
  background-position: center;
  -moz-context-properties: fill;
  fill: currentColor;
  margin-inline: 0;
  appearance: none;
}

input[type="number"]::-moz-number-spin-up {
  background-image: url("chrome://global/skin/icons/arrow-up.svg");
}

input[type="number"]::-moz-number-spin-up:hover,
input[type="number"]::-moz-number-spin-down:hover {
  background-color: var(--in-content-button-background-hover);
  color: var(--in-content-button-text-color-hover);
}
} /** END Proton **/
