#shortcut-group {
  grid-auto-rows: max-content;
}

shortcut {
  -moz-box-orient: vertical;
}

.shortcut-content {
  height: 24px;
  margin: 1px 0;
}

.input-container {
  display: flex;
  align-items: center;
  border: 1px solid var(--in-content-box-border-color);
  border-radius: 4px;
  box-sizing: inherit;
  font-weight: normal;
  height: 24px;
  padding: 2px;
  width:175px;
}

shortcut[focused="true"] .input-container {
   border-color: transparent;
   outline: 2px solid var(--in-content-focus-outline-color);
   outline-offset: -1px;
}

.input-container[disabled] {
  background-color: ThreeDLightShadow
}

.shortcut-edit-box {
  background-color: transparent;
  border: none;
  flex: 1;
  margin: 0;
  outline: none;
  padding: 0 0 0 4px;
}

.shortcut-image {
  -moz-box-ordinal-group: 100;
  opacity: 0.75;
  cursor: default;
  width: 20px;
  height: 20px;
  z-index: 2;
  position: relative;
}

shortcut:not([focused="true"]) .shortcut-image {
  visibility: collapse;
}

.shortcut-edit-box:not(:focus)::placeholder {
  color: transparent;
}

.shortcut-image:hover {
  opacity: 0.85;
}

.shortcut-image:hover:active {
  opacity: 1;
}

.shortcut-image[_hidden="true"],
shortcut[default="true"] .shortcut-image[anonid="reset"],
shortcut[value=""] .shortcut-image[anonid="disable"],
shortcut:not([value]) .shortcut-image[anonid="disable"] {
  visibility: collapse;
}

.shortcut-image[anonid="disable"] {
  list-style-image: url("chrome://tabmixplus/skin/disabled.png");
  margin-right: -2px;
}

.shortcut-image[anonid="reset"] {
  list-style-image: url("chrome://tabmixplus/skin/refresh.png");
  width: 16px;
  height: 16px;
  margin: 3px 0 1px;
}

#TabMIxPreferences[linux] .shortcut-image[anonid="reset"] {
  margin: 1px 0;
}

.shortcut-notificationbox,
.shortcut-warning-container,
shortcut[used="true"] > .shortcut-content {
  color: rgb(145, 109, 21);
}

.shortcut-notificationbox,
.shortcut-warning-container,
shortcut[used="true"] > .shortcut-content,
shortcut[used="true"] > .shortcut-content > .shortcut-edit-box > .shortcut-image,
shortcut[used="true"] > .shortcut-content > .shortcut-edit-box > * > .textbox-input {
  background-color: rgba(255, 255, 0, 0.1); /* yellow */
}

.shortcut-notificationbox {
  border-bottom: 2px solid;
  border-bottom-color: rgba(28, 31, 37, 0.1);
}

#shortcuts-panel[hide-shortcut-warning="true"] shortcut:not(:focus-within) > .shortcut-notificationbox,
.shortcut-notificationbox:empty {
  display: none;
}

#shortcuts-panel[usedKeys="false"] > .shortcut-warning-container {
  visibility: hidden;
}

.warning-icon {
  list-style-image: url("chrome://devtools/skin/images/alert.svg");
  width: 16px;
  height: 15px;
  margin: 3px 0;
}

.shortcut-content > * > .text-link {
  margin-bottom: 0;
}

#shortcuts-panel[hide-unused-shortcuts="true"] shortcut:not([value]) + hbox,
#shortcuts-panel[hide-unused-shortcuts="true"] shortcut:not([value]) {
  visibility: collapse;
}

description {
  margin-block: 0;
}

description[disabled] {
  color: GrayText;
}
