/**
    Firefox version 3.5.* - 3.6.* - 4.0+

    for ALL platform

**/

/* :::: For .tabs-closebutton .showhover :::: */
.showhover-box > .tabs-closebutton,
.showhover-box > .tabs-closebutton > .toolbarbutton-icon {
  padding: 0px !important;
}

/* Find a way to eliminate the jump of the tab when tab button display on the tab */
.tabbrowser-tabs:not([tabmix_skin]):not([Mac]):not([classic=v3]):not([classic40]):not([classic=v3Linux]) .tabbrowser-tab .tabs-closebutton {
  margin-top: -1px;
  margin-bottom: -3px;
}

.tabbrowser-tabs[flowing=multibar][multibar] .tabs-frame .tabs-right {
  display: none !important;
}

/*we need to make multirow work on all themes, this should help a bit*/
.tabbrowser-tabs[flowing=multibar][multibar],
.tabbrowser-tabs[flowing=multibar][multibar] .tabbrowser-strip,
.tabbrowser-tabs:not([classic=v3])[flowing=multibar][multibar] .tabbrowser-tab,
.tabbrowser-tabs[flowing=multibar][multibar] .tabs-left,
.tabbrowser-tabs[flowing=multibar][multibar] .tabs-right {
  max-height: none !important;
}

#TabsToolbar[multibar] {
  height: auto !important;
}

.tabbrowser-tabs[flowing=multibar][multibar=scrollbar] .tabbrowser-tab[collapsed=true] {
  display: none !important;
}

.tabbrowser-tabs[flowing=singlebar] .tabs-frame[orient="horizontal"],
.tabbrowser-tabs[flowing=scrollbutton] .tabs-frame[orient="horizontal"],
.tabbrowser-tabs[flowing=multibar]:not([multibar]) .tabs-frame[orient="horizontal"] {
  overflow: hidden !important;
}

.tabs-frame[orient="vertical"] {
  overflow-x: hidden !important;
  overflow-y: auto !important;
  -moz-box-flex: 1 !important;
}

/* some theme align text to center this make all tab align to center in multi-rows*/
.tabbrowser-tabs[flowing=multibar] {
  text-align: start !important;
}

/* fix background for multi-row*/
.tabbrowser-tabs[flowing=multibar][backgroundrepeat] {
  background-repeat: repeat;
}

/* For Flowing tabs */
.tabbrowser-tabs[flowing=multibar] .tabbrowser-tab {
  vertical-align: bottom;
}

/* :::: For current, unloaded, unread and other tab styles :::: */
.tabbrowser-tabs[tabmix_unloadedTab~="bold"] .tabbrowser-tab:not([selected="true"])[pending] .tab-text,
.tabbrowser-tabs[tabmix_unreadTab~="bold"]:not([tabmix_unloadedTab]) .tabbrowser-tab:not([visited]) .tab-text,
.tabbrowser-tabs[tabmix_unreadTab~="bold"][tabmix_unloadedTab] .tabbrowser-tab:not([visited]):not([pending]) .tab-text,
.tabbrowser-tabs[tabmix_currentTab~="bold"] .tabbrowser-tab[selected="true"] .tab-text {
  font-weight: bold !important;
}

.tabbrowser-tabs[tabmix_currentTab~="not-bold"] .tabbrowser-tab[selected="true"] .tab-text,
.tabbrowser-tabs[tabmix_unreadTab~="not-bold"] .tabbrowser-tab:not([selected="true"])[pending] .tab-text,
.tabbrowser-tabs[tabmix_unreadTab~="not-bold"]:not([tabmix_unloadedTab]) .tabbrowser-tab:not([visited]) .tab-text,
.tabbrowser-tabs[tabmix_unreadTab~="not-bold"][tabmix_unloadedTab] .tabbrowser-tab:not([visited]):not([pending]) .tab-text,
.tabbrowser-tabs[tabmix_otherTab~="not-bold"]:not([tabmix_unreadTab]):not([tabmix_unloadedTab]) .tabbrowser-tab:not([selected="true"]) .tab-text,
.tabbrowser-tabs[tabmix_otherTab~="not-bold"]:not([tabmix_unreadTab])[tabmix_unloadedTab] .tabbrowser-tab:not([selected="true"]):not([pending]) .tab-text,
.tabbrowser-tabs[tabmix_otherTab~="not-bold"][tabmix_unreadTab]:not([tabmix_unloadedTab]) .tabbrowser-tab:not([selected="true"])[visited] .tab-text,
.tabbrowser-tabs[tabmix_otherTab~="not-bold"][tabmix_unreadTab][tabmix_unloadedTab] .tabbrowser-tab:not([selected="true"])[visited]:not([pending]) .tab-text {
  font-weight: normal !important;
}

.tabbrowser-tabs[tabmix_unloadedTab~="italic"] .tabbrowser-tab:not([selected="true"])[pending] .tab-text,
.tabbrowser-tabs[tabmix_unreadTab~="italic"]:not([tabmix_unloadedTab]) .tabbrowser-tab:not([visited]) .tab-text,
.tabbrowser-tabs[tabmix_unreadTab~="italic"][tabmix_unloadedTab] .tabbrowser-tab:not([visited]):not([pending]) .tab-text,
.tabbrowser-tabs[tabmix_currentTab~="italic"] .tabbrowser-tab[selected="true"] .tab-text {
  font-style: italic !important;
}

.tabbrowser-tabs[tabmix_unloadedTab~="not-italic"] .tabbrowser-tab:not([selected="true"])[pending] .tab-text,
.tabbrowser-tabs[tabmix_unreadTab~="not-italic"]:not([tabmix_unloadedTab]) .tabbrowser-tab:not([visited]) .tab-text,
.tabbrowser-tabs[tabmix_unreadTab~="not-italic"][tabmix_unloadedTab] .tabbrowser-tab:not([visited]):not([pending]) .tab-text,
.tabbrowser-tabs[tabmix_currentTab~="not-italic"] .tabbrowser-tab[selected="true"] .tab-text {
  font-style: normal !important;
}

.tabbrowser-tabs[tabmix_unloadedTab~="underline"] .tabbrowser-tab:not([selected="true"])[pending] .tab-text,
.tabbrowser-tabs[tabmix_unreadTab~="underline"]:not([tabmix_unloadedTab]) .tabbrowser-tab:not([visited]) .tab-text,
.tabbrowser-tabs[tabmix_unreadTab~="underline"][tabmix_unloadedTab] .tabbrowser-tab:not([visited]):not([pending]) .tab-text,
.tabbrowser-tabs[tabmix_currentTab~="underline"] .tabbrowser-tab[selected="true"] .tab-text {
  text-decoration: underline !important;
}

.tabbrowser-tabs[tabmix_otherTab~="bold"]:not([tabmix_unreadTab]):not([tabmix_unloadedTab]) .tabbrowser-tab:not([selected="true"]) .tab-text,
.tabbrowser-tabs[tabmix_otherTab~="bold"]:not([tabmix_unreadTab])[tabmix_unloadedTab] .tabbrowser-tab:not([selected="true"]):not([pending]) .tab-text,
.tabbrowser-tabs[tabmix_otherTab~="bold"][tabmix_unreadTab]:not([tabmix_unloadedTab]) .tabbrowser-tab:not([selected="true"])[visited] .tab-text,
.tabbrowser-tabs[tabmix_otherTab~="bold"][tabmix_unreadTab][tabmix_unloadedTab] .tabbrowser-tab:not([selected="true"])[visited]:not([pending]) .tab-text {
  font-weight: bold !important;
}

.tabbrowser-tabs[tabmix_otherTab~="italic"]:not([tabmix_unreadTab]):not([tabmix_unloadedTab]) .tabbrowser-tab:not([selected="true"]) .tab-text,
.tabbrowser-tabs[tabmix_otherTab~="italic"]:not([tabmix_unreadTab])[tabmix_unloadedTab] .tabbrowser-tab:not([selected="true"]):not([pending]) .tab-text,
.tabbrowser-tabs[tabmix_otherTab~="italic"][tabmix_unreadTab]:not([tabmix_unloadedTab]) .tabbrowser-tab:not([selected="true"])[visited] .tab-text,
.tabbrowser-tabs[tabmix_otherTab~="italic"][tabmix_unreadTab][tabmix_unloadedTab] .tabbrowser-tab:not([selected="true"])[visited]:not([pending]) .tab-text {
  font-style: italic !important;
}

.tabbrowser-tabs[tabmix_otherTab~="not-italic"]:not([tabmix_unreadTab]):not([tabmix_unloadedTab]) .tabbrowser-tab:not([selected="true"]) .tab-text,
.tabbrowser-tabs[tabmix_otherTab~="not-italic"]:not([tabmix_unreadTab])[tabmix_unloadedTab] .tabbrowser-tab:not([selected="true"]):not([pending]) .tab-text,
.tabbrowser-tabs[tabmix_otherTab~="not-italic"][tabmix_unreadTab]:not([tabmix_unloadedTab]) .tabbrowser-tab:not([selected="true"])[visited] .tab-text,
.tabbrowser-tabs[tabmix_otherTab~="not-italic"][tabmix_unreadTab][tabmix_unloadedTab] .tabbrowser-tab:not([selected="true"])[visited]:not([pending]) .tab-text {
  font-style: normal !important;
}

.tabbrowser-tabs[tabmix_otherTab~="underline"]:not([tabmix_unreadTab]):not([tabmix_unloadedTab]) .tabbrowser-tab:not([selected="true"]) .tab-text,
.tabbrowser-tabs[tabmix_otherTab~="underline"]:not([tabmix_unreadTab])[tabmix_unloadedTab] .tabbrowser-tab:not([selected="true"]):not([pending]) .tab-text,
.tabbrowser-tabs[tabmix_otherTab~="underline"][tabmix_unreadTab]:not([tabmix_unloadedTab]) .tabbrowser-tab:not([selected="true"])[visited] .tab-text,
.tabbrowser-tabs[tabmix_otherTab~="underline"][tabmix_unreadTab][tabmix_unloadedTab] .tabbrowser-tab:not([selected="true"])[visited]:not([pending]) .tab-text {
  text-decoration: underline !important;
}

/* for extra icons */
.tab-protect-icon {
  list-style-image: url("protected.png");
  display: none;
  height: 16px;
  width: 16px;
}

.tab-lock-icon {
  list-style-image: url("locked.png");
  display: none;
  height: 16px;
  width: 16px;
}

.tab-reload-icon {
  list-style-image: url("autoreload.png");
  display: none;
  height: 16px;
  width: 16px;
}

.tabbrowser-tabs[tabmix_icons~="autoreload"] .tabbrowser-tab[_reload] .tab-reload-icon ,
.tabbrowser-tabs[tabmix_icons~="protected"] .tabbrowser-tab[protected] .tab-protect-icon ,
.tabbrowser-tabs[tabmix_icons~="locked"] .tabbrowser-tab[locked] .tab-lock-icon {
  display: -moz-box;
}

.tabbrowser-tabs[tabmix_icons~="notpinned"] .tabbrowser-tab[pinned] .tab-reload-icon,
.tabbrowser-tabs[tabmix_icons~="notpinned"] .tabbrowser-tab[pinned] .tab-protect-icon,
.tabbrowser-tabs[tabmix_icons~="notpinned"] .tabbrowser-tab[pinned] .tab-lock-icon {
  display: none;
}

/* ::::: new tab button on tab context menu ::::: */
.newtab-menu-icon:not([platform]) {
  list-style-image: url("newtab.png");
}

.newtab-menu-icon[platform=xp],
.newtab-menu-icon[platform=linux] {
  list-style-image: url("chrome://browser/skin/Toolbar-small.png");
}

.newtab-menu-icon[platform=xp] {
  -moz-image-region: rect(0px 160px 16px 144px);
}
.newtab-menu-icon[platform=xp]:hover {
  -moz-image-region: rect(16px 160px 32px 144px);
}

.newtab-menu-icon[platform=xp40] {
  list-style-image: url("chrome://browser/skin/Toolbar.png");
  -moz-image-region: rect(0pt, 180px, 18px, 162px);
}

.newtab-menu-icon[platform=v4Mac] {
  list-style-image: url("chrome://browser/skin/Toolbar.png");
  -moz-image-region: rect(0, 220px, 20px, 200px);
}

.newtab-menu-icon[platform=v36Mac] {
  list-style-image: url("chrome://browser/skin/Toolbar.png");
  -moz-image-region: rect(0px, 360px, 23px, 324px);
}
.newtab-menu-icon[platform=v36Mac]:hover:active {
  -moz-image-region: rect(46px, 360px, 69px, 324px);
}

.newtab-menu-icon[platform=linux] {
  -moz-image-region: rect(0px 64px 16px 48px);
}

/*  :::::: Tabmix toolbar button :::::: */
#btn_undoclose, .closedtabs-icon {
  list-style-image: url(undoclosetab.png);
}

#btn_undoclose { -moz-image-region: rect(0 24px 24px 0); }
#btn_undoclose:hover { -moz-image-region: rect(24px 24px 48px 0); }
#btn_undoclose[disabled=true] { -moz-image-region: rect(48px 24px 72px 0); }

toolbar[iconsize=small] #btn_undoclose, .closedtabs-icon > .menu-iconic-left{ -moz-image-region: rect(0 40px 16px 24px); }
toolbar[iconsize=small] #btn_undoclose:hover, .closedtabs-icon:hover > .menu-iconic-left{ -moz-image-region: rect(16px 40px 32px 24px); }
toolbar[iconsize=small] #btn_undoclose[disabled=true], .closedtabs-icon[disabled=true] > .menu-iconic-left{ -moz-image-region: rect(32px 40px 48px 24px); }

#btn_undoclose[type=menu-button] .toolbarbutton-icon {
   margin-right: 0px;
}

#btn_undoclose[type=menu-button] .toolbarbutton-menubutton-button{
  padding-right: 2px;
}

#btn_closedwindows , .closedwindows-icon {
  list-style-image: url(undoclosewindow.png);
}

#btn_closedwindows { -moz-image-region: rect(0 24px 24px 0); }
#btn_closedwindows:hover { -moz-image-region: rect(24px 24px 48px 0); }
#btn_closedwindows[disabled=true] { -moz-image-region: rect(48px 24px 72px 0); }

toolbar[iconsize=small] #btn_closedwindows, .closedwindows-icon >.menu-iconic-left{ -moz-image-region: rect(0 40px 16px 24px); }
toolbar[iconsize=small] #btn_closedwindows:hover, .closedwindows-icon:hover >.menu-iconic-left{ -moz-image-region: rect(16px 40px 32px 24px)!important; }
toolbar[iconsize=small] #btn_closedwindows[disabled=true], .closedwindows-icon[disabled=true] >.menu-iconic-left{ -moz-image-region: rect(32px 40px 48px 24px)!important; }

#btn_tabslist, #tm-tabsList {
  list-style-image: url(tabslist.png);
}
#btn_tabslist { -moz-image-region: rect(0 24px 24px 0); }
#btn_tabslist:hover { -moz-image-region: rect(24px 24px 48px 0); }
#btn_tabslist[disabled=true] { -moz-image-region: rect(48px 24px 72px 0); }
toolbar[iconsize=small] #btn_tabslist, #tm-tabsList > .menu-iconic-left{ -moz-image-region: rect(0 40px 16px 24px); }
toolbar[iconsize=small] #btn_tabslist:hover, #tm-tabsList:hover > .menu-iconic-left{ -moz-image-region: rect(16px 40px 32px 24px); }
toolbar[iconsize=small] #btn_tabslist[disabled=true], #tm-tabsList[disabled=true] > .menu-iconic-left{ -moz-image-region: rect(32px 40px 48px 24px); }

#btn-sm-settings, .tabmix-menu-icon {
   list-style-image: url(tmpsmall.png);
}
.tabmix-menu-icon .menu-iconic-left { -moz-image-region: rect(0 16px 16px 0)!important; }

#btn_sessionmanager, .sessionmanager-icon {
  list-style-image: url(sessionmanager.png);
}
#btn_sessionmanager { -moz-image-region: rect(0 24px 24px 0); }
#btn_sessionmanager:hover { -moz-image-region: rect(24px 24px 48px 0); }
#btn_sessionmanager[disabled=true] { -moz-image-region: rect(48px 24px 72px 0); }
toolbar[iconsize=small] #btn_sessionmanager, .sessionmanager-icon > .menu-iconic-left{ -moz-image-region: rect(0 40px 16px 24px); }
toolbar[iconsize=small] #btn_sessionmanager:hover, .sessionmanager-icon:hover > .menu-iconic-left{ -moz-image-region: rect(16px 40px 32px 24px); }
toolbar[iconsize=small] #btn_sessionmanager[disabled=true], .sessionmanager-icon[disabled=true] > .menu-iconic-left{ -moz-image-region: rect(32px 40px 48px 24px); }

/* fix dropmarker orient for toolbarbutton[type="menu"] in FF 2.0 + */
.tabmix_button[type="menu"] {
  -moz-box-orient: horizontal;
}

/* for hashcoulouredtabs */
#content[hashedtabs] .tabbrowser-tab:not([busy]) .tab-icon-image:not([src]) {
  list-style-image: none !important;
}

/* ::::: Fullscreen pseudo-toolbar ::::: */
#fullscr-bottom-toggler {
  height: 1px;
  background: black;
}

/*
 *****************************************************************************
 *                                non default theme
*/
/* Chromifox Extreme */
.tabbrowser-tabs[tabmix_skin="cfxec"]  > .tabbrowser-tab .tabs-closebutton,
.tabbrowser-tabs[tabmix_skin="cfxec"]  > .tabbrowser-tab .tab-close-button {
  display: none !important;
}

/* Vfox3 */
.tabbrowser-tabs[tabmix_skin="Vfox3"][multibar] > .tabbrowser-tab {
  height: 24px;
}

.tabbrowser-tabs[tabmix_skin="Vfox3"] > .tabbrowser-tab .tabs-closebutton {
  margin: -2px 2px -1px 0px;
}

/* Phoenity Aura -  Multi-row tabbar for Phoenity Aura theme */
.tabbrowser-tabs[tabmix_skin="CrystalFox"][multibar] > .tabbrowser-tab,
.tabbrowser-tabs[tabmix_skin="phoenityaura"][multibar] > .tabbrowser-tab {
  height: 22px;
  max-height: 22px;
  margin: 1px 0px 1px;
}

.tabbrowser-tabs[tabmix_skin="CrystalFox"][multibar] > .tabbrowser-tab:not([selected="true"]):hover,
.tabbrowser-tabs[tabmix_skin="phoenityaura"][multibar] > .tabbrowser-tab:not([selected="true"]):hover {
  height: 23px;
  max-height: 23px;
  margin: 0px 0px 1px;
}

.tabbrowser-tabs[tabmix_skin="CrystalFox"][multibar] > .tabbrowser-tab[selected="true"],
.tabbrowser-tabs[tabmix_skin="phoenityaura"][multibar] > .tabbrowser-tab[selected="true"] {
  height: 24px;
  max-height: 24px;
  margin: 0px 0px 0px;
}

.tabbrowser-tabs[tabmix_skin="CrystalFox"][multibar] .tabs-frame,
.tabbrowser-tabs[tabmix_skin="phoenityaura"][multibar] .tabs-frame {
  margin-top: 2px;
  margin-bottom: 3px;
}

/* CrystalFox_Qute-BigRedBrent */
.tabbrowser-tabs[tabmix_skin="CrystalFox"]:not([multibar])[inline=true] .tabbrowser-arrowscrollbox > toolbarbutton,
.tabbrowser-tabs[tabmix_skin="CrystalFox"][multibar] .tabbrowser-arrowscrollbox > toolbarbutton {
  vertical-align: top;
}

/* BlackFox_V1-Blue */
.tabbrowser-tabs[tabmix_skin="BlackFox"]:not([multibar])[inline=true] .tabbrowser-arrowscrollbox > toolbarbutton,
.tabbrowser-tabs[tabmix_skin="BlackFox"][multibar] .tabbrowser-arrowscrollbox > toolbarbutton {
  vertical-align: top;
}

/* Vista-aero */
#myTabBarRightBox[vista_aero] {
  -moz-box-align: start;
}
