/**
    Firefox all versions

    Mac platform

**/

/* :::: tabbar on bottom ::::
  we leave the default background-image on mac
#TabsToolbar[tabbaronbottom] {
  background-image: none !important;
}
*/

/* prevent tabbrowser-tabs height from increasing by 2px when the tabs are
   in display: block */
#TabsToolbar[tabmix-show-newtabbutton="aftertabs"] #tabbrowser-tabs[flowing="multibar"] >
  #tabbrowser-arrowscrollbox > #tabs-newtab-button[command="cmd_newNavigatorTab"] .toolbarbutton-icon,
#TabsToolbar[tabmix-show-newtabbutton="aftertabs"] #tabbrowser-tabs[flowing="multibar"] >
  #tabbrowser-arrowscrollbox > #tabbrowser-arrowscrollbox-periphery > #tabs-newtab-button[command="cmd_newNavigatorTab"] .toolbarbutton-icon {
  margin: -2px 0;
}

#TabsToolbar[tabbaronbottom] #tabbrowser-tabs > #tabbrowser-arrowscrollbox > .tabbrowser-tab[selected="true"] {
  position: static !important;
}

#TabsToolbar[multibar]:not(:-moz-lwtheme) {
  background-repeat: repeat;
  background-color: rgb(225, 225, 225);
  background-image: linear-gradient(rgb(232, 232, 232), rgb(211, 211, 211));
}

#tabbrowser-tabs[multibar=true] #tabbrowser-arrowscrollbox > toolbarbutton {
  vertical-align: bottom;
}

/* for mac - look in pinstripe/browser/browser.css */
#tabbrowser-tabs > #tabbrowser-arrowscrollbox > .tabbrowser-tab > * > .tab-progress-container > .tab-progress:not([selected="true"]),
#tabbrowser-tabs > #tabbrowser-arrowscrollbox > .tabbrowser-tab:not(:hover) > * > * > .tab-icon > .tab-icon-image:not([selected="true"]),
#tabbrowser-tabs > #tabbrowser-arrowscrollbox > .tabbrowser-tab:not(:hover) > * > * > .tab-icon > .tab-protect-icon:not([selected="true"]),
#tabbrowser-tabs > #tabbrowser-arrowscrollbox > .tabbrowser-tab:not(:hover) > * > * > .tab-icon > .tab-lock-icon:not([selected="true"]),
#tabbrowser-tabs > #tabbrowser-arrowscrollbox > .tabbrowser-tab:not(:hover) > * > * > .tab-icon > .tab-reload-icon:not([selected="true"]),
#tabbrowser-tabs > #tabbrowser-arrowscrollbox > .tabbrowser-tab:not(:hover) > * > * > .tab-label-container > .tab-label:not([selected="true"]):-moz-lwtheme,
#tabbrowser-tabs > #tabbrowser-arrowscrollbox > .tabbrowser-tab:not(:hover) > * > * > .tab-label:not([selected="true"]):-moz-lwtheme {
  opacity: .8;
}
